.fa-facebook, 
.fa-twitter, 
.fa-instagram, 
.fa-linkedin {
    font-size: 25px !important;
    margin: 5px
}
a{
    color: white;
    text-decoration: none;
}
.fa{
	color: rgb(253, 204, 9)!important;
}

ol li
{
	font-size: 14px;
	color: #c2cbd7;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: inline;	
    color: white;
}
.footer
{
    color: #ffffff;
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
	background: #242121;
}
.footer_logo
{
	position: absolute;
	top: -18px;
	left: 0px;
}
.footer_about p:last-of-type
{
	margin-bottom: 0;
}
.footer_title
{
	font-family: 'gill', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
}
.footer_links ul
{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-top: 53px;
}
.footer_links ul li
{
	margin-bottom: 9px;
}
.footer_links a i
{
	font-size: 14px;
	color: #c2cbd7;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: inline;	
    color: white;
}
li{
    
    list-style-type: none;
}
.footer_links ul li a:hover
{
	color: rgb(253, 204, 9)!important;
}
.footer_social a i
{
	display: inline-block;
	color: #ffa800;
	font-size: 20px;
	padding: 3px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:hover a i
{
	color: white;
}

.header_social
{
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
	margin-left: 29px;
}
.header_social ul li
{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: solid 1px #d6d6d6;
	box-shadow: 0 0 1px 0px #d6d6d6 inset, 0 0 1px 0px #d6d6d6;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 7px;
}
.header_social ul li:last-child
{
	margin-right: 0;
}
.header_social ul li a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.header_social ul li a i
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 11px;
	color: #d6d6d6;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social ul li:hover a i
{
	color: #ffa800;
}

.copyright
{
	text-align: left !important; 
	color: white; 
	font-size: 10px !important;
}
.copyright_content
{
	width: 100%;
	height: 70px;
}
.footer_nav
{
	width: 100%;
	height: 70px;
	text-align: right;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 23px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-family: 'gill', sans-serif;
	font-size: 13px;
	color: #697686;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #ffa800;
}
.cr
{
	font-family: 'gill', sans-serif;
	font-size: 13px;
	color: #697686;

}