<!-- Default form login -->
<div class="container mt-2">
  <a href="" class="logo-login">
    <img class="logo" src="assets/img/logo.png" alt="KarrynGo logo">
  </a>
  <div class="container cont-login">
    <!--<form class="text-center border border-light cont-form">-->
    <form #form="ngForm" (ngSubmit)="sendEmailCode(form.value)" class="text-center border border-light cont-form" action="javascript:void(0)" method="post">


      <p class="h4 mb-4 jaune">Recover my password</p>

      <!--enter the email address-->
      <div *ngIf="true">
        <!-- Email -->
        <input type="email" name="email" [(ngModel)]="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter your email address">

        <!-- Sign in button -->
        <button mdbBtn block="true" class="my-4 next-button btn-sin">Send</button>
      </div>
      <!--enter the email address-->

      <!--enter the code validation-->
      <div *ngIf="true">
        <!-- code -->
        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter the Code">

        <!-- Sign in button -->
        <button mdbBtn block="true" class="my-4 next-button btn-sin" (click)="verifyCode()">Verify</button>
      </div>
      <!--enter the code validation-->

      <!-- Register -->
      <p>
        <a routerLink="/login" class="jaune">Back to Sign in</a>
      </p>

    </form>
    <!-- Default form login -->
  </div>
</div>